Text {
   -foo-leading:0px;
}


.app {
    -foo-fill:#76847a;
    background-color: rgba(245,245,230,.6);
}

.primary {
    -foo-color:#F92672;
}

.h1 {
    -foo-size:30px;
    -foo-bold:"true";
}

.h2 {
    -foo-leading:2px;
}